@{
    ViewBag.Title = "About";
}
<div class="whiteBox row pt-4"> 
    <div class="col-sm-12 pl-3">
    <img src="~/images/Eligibility/Eligibility_Script.png" 
        class="img-fluid"  alt="Eligibility"  style="max-width:25%;height:auto;"/>
    </div>
</div>
<div class="media p-2 whiteBox" style="margin-left:-20px;margin-right:-20px;">
    <div class="media-body px-3">
        <h6>INCLUSION CRITERIA</h5>
        <ul style="">
            <li>Female</li>
            <li>Resident in greater Seattle metropolitan area (King Country),
                Pierce or Snohomish Counties</li>
            <li>Healthy</li>
            <li>Able to perform all study requirements, including attendance
                at clinic visits and capable of responding to questionnaires and
                clinic and exercise facility instructions in English</li>
            <li>Willing to be assigned by chance by a computer program to
                either the exercise or control group</li>
            <li>Capable of providing informed consent</li>
        </ul>
    </div>
    <div class="media-body">
        <a href="@ViewBag.SurveyUrl">
            <img style="width:50%;" href="@ViewBag.SurvyeUrl"
                src="~/images/Eligibility/ThinkYouAreEligible_Circle.png" alt="Think you are eligible?">
        </a>
    </div>
</div>
<div class="whiteBox row pt-4"> 
    <div class="col-sm-offset-1 col-sm-11 text-justify" >
    <b>At the second visit,</b> you will be asked to provide blood samples before and after the exercise bout or
    resting control period. We will also ask participants if they are willing to join an optional add-on study
    which involves a muscle biopsy before and after the exercise bout or resting control period.
   </div>
</div>
<div class="d-flex flex-row justify-content-around px-5 pt-3 pb-4 blueBox" style="margin-left:-20px;margin-right:-20px;">
    <div class="media p-2">
      <img class="align-self-start mr-3" style="width:30%;"
       src="~/images//About/About_BenefitsCircle.png" alt="Benefits">
      <div class="media-body">
        <h4 class="mt-0 text-white">How will I benefit?</h5>
        <span class="text-white">
            All study participants will receive
            information about their study tests
            results, such as measures of blood
            pressure, glucose level and tests of
            fitness. At the end of the study, every
            participant will receive a 30 minute long
            session with an exercise physiologist
            who will take them through a sample
            aerobic + resistance training workout.
        </span>
      </div>
    </div>
    <div class="media p-2">
     <img class="align-self-start mr-3" style="width:38%;"
            src="~/images//About/About_IncentivesCircle.png" alt="incentives">
      <div class="media-body">
        <h4 class="mt-0 text-white">Is there an incentive?</h5>
        <span class="text-white">
            Participants who give blood samples
            before and after the exercise bout
            or resting control period will receive
            $25. Participants who give both blood
            samples and a muscle biopsy before
            and after the exercise bout or resting
            control period will receive $125.
        </span>
      </div>
    </div>
</div>

@section Scripts {
    <script>
        $(window).on("load", function () {
            $("body").css("background-color","white");
        });
    </script>    
}