@{
    ViewBag.Title = "Survey Placeholder";
}
<div class="col-md-6">
    <b>The study is not open yet. Thank you for interest. It will be open later in February.</b>
</div>

@section Scripts {
    <script>
        $(window).on("load", function () {
            $("body").css("background-color","white");
        });
    </script>    
}