
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/*footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

body {
    background:rgb(233, 240, 241) !important;
}
div .greyBox
{
    padding-left:50px;
    padding-right:0;
}

div .whiteBox
{
    background-color:#fff;
}
div .greenBox
{
    background-color: #46d5c4;
}

div .blueBox
{
    background-color: #29b6b9;
}

.greenColor
{
    color: #46d5c4;
}

div .blueColor
{
    background-color: #29b6b9;
}

.bolded
{
    font-weight: bold;
}



